body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f4f7;
    color: #333;
}

header {
    background: #0a58ca;
    color: white;
    padding: 25px;
    text-align: center;
}

nav {
    background: #084298;
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1000px;
    margin: 25px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
}

h2 {
    color: #0a58ca;
}

footer {
    background: #222;
    color: #ccc;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.note {
    background: #e9f2ff;
    padding: 15px;
    border-left: 5px solid #0a58ca;
    margin: 20px 0;
}
.lang {
  display: none;
}

.lang.hi {
  display: block;
}

